/*global*/

:root{
    /*color*/
    --color-dark-pink: #ff6863;
    --color-pink: #FF85B1;
    --color-dark-grey: #4d4d4d;
    --color-light-grey: #7c7979;
    --color-grey: #616161;
    --color-blue: #73aace;
    --color-light-blue:#bffbff;
    --color-yellow: #fff7d1;
    --color-black: #000000;
    --color-orange: #feb546;
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;

    /*fontsize*/
    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;

    /*font-weight*/
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;

}

/*universal tags*/
*{
    box-sizing:border-box;
}